*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.class-flex{
    display: flex;
    justify-content: center;    
}

.nav-section{    
    width: 1200px;   
}

.navigation{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-blok{
    display: flex;
    justify-content: space-between;
    width: 453px;
}

.nav-blok a{
    font-size: 16px;
    text-decoration: none;
}

.navigation button{
    background-color: rgb(88, 88, 221);
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.mb24{
    margin-bottom: 24px;
}

.mb35{
    margin-bottom: 35px;
}

.mb47{
    margin-bottom: 47px;
}

.mb50{
    margin-bottom: 50px;
}

.mb86{
    margin-bottom: 86px;
}

.mb95{
    margin-bottom: 95px;
}

.mb175{
    margin-bottom: 175px;
}

.mb195{
    margin-bottom: 195px;
}

.head-section{
    width: 1200px;     
    font-size: 75px;
}

.head-text{
    width: 905px;  
}

.head-foto{
    width: 100%;
}

.body-about{
    width: 1200px;  
    display: flex;
    width: 100%;
}

.about-ssylka{
    width:570px;    
    font-size: 55px; 
    display: flex;
    justify-content: space-between;
    
}

.about-ssylka p, img{
    padding: 0px 15px;
}

.about-content{
    width:630px;
    background-color: green;    
}

.body-flex{
    display: flex;
    justify-content: center;
}

.body-text{
    max-width: 1200px;
    width: 100%;
    background-color: green;
}

.whatWeDo{
    display: flex;
    justify-content: center;
    width: 100%;
}

.whatWeDo-whidth{
    display: flex;
    max-width: 1200px;
    width: 100%;
    border: none;
    border-top-width: 2px;
    border-top-color: aqua;

    padding: 0px;
    border-bottom: 1px;
    border-color: black;
}